
//Começar pelo componente pai 
.containerInputPublico{
    .inputPublico{
        border-bottom: 1px solid var(--corPrimaria);
        display: flex;
         
        
        input{
            border: none;
            outline: none;
            color: var(--corPrimaria);
            background-color: rgba(217, 217, 217, 0);
            flex: 1;
        }
    }
}



