/* You can add global styles to this file, and also import other style files */
@import './assets/fonts/fonts.scss';
@import './assets/estilo/variaveis.scss';

:root{
    //Font stuffs
    --fontRegular: 'Biennale Regular';
    --fontBold: 'Biennale Bold';
    --fontLight: 'Biennale Light';

    --corPrimaria: #5E49FF;
    --corPrimaria2: #25CBD3;
    --corPrimaria3: #F0F5FF;

    //Color stuffs
    --cinza: #f4f4f4;
    --cinza1: #DADADA;
    --cinza2: #7C7786;
    --cinza3: #4D4C4D;
    --cinza4: #333333;

    --preto: black;
    --branco: white;
    --vermelho: red;
}

*{
    font-family: var(--fontRegular);
    font-size: 15px;
}

html, body{
    height: 100%;
    margin: 0;
}

// classe oculto
.oculto{
    display: none !important;
}

input{
    //ficar acessivel em navegadores da microsoft
    &::placeholder,
    &:-ms-input-placeholder,
    *::-ms-input-placeholder{
        color: var(--cinza2);
    }
}

.mensagemErro{
    display: block;
    color: var(--vermelho);
    margin: 5px 0 0;
    font-size: 12px;
}

.desktop {
    display: none;
    @media screen and (min-width: $breakpointDesktop) {
        display: block;
    }
}
.mobile {
    display: block;
    @media screen and (min-width: $breakpointDesktop) {
        display: none !important;
    }
}

body {
    @media screen and (min-width: $breakpointDesktop){
        background-color: var(--cinza);
        //background-image: url('assets/img/icones/');
    }
}

.layoutInterno{
    display: flex;
    flex-direction: column;
    height: 100%;

    .conteudoInterno{
        flex: 1;
    }
}

strong {
    font: 15px;
    color: var(--cinza4);
}

.conteudoDesktop{
    @media screen and (min-width: $breakpointDesktop){
        width: 50%;
        margin: auto;
    }
}

.linhaHorizontal{
    height: 0.5px;
    border: none;
    background-color: var(--cinza1);
    margin: 0 auto;

    @media screen and (min-width: $breakpointDesktop) {
        width: 90%;
    }
}

.bordaGradienteAvatar {
    border: solid 4px transparent;
    background-image: linear-gradient(to bottom, white, white),
        radial-gradient(circle at top center, var(--corPrimaria), var(--corPrimaria2));
    background-origin: border-box;
    background-clip: content-box, border-box;
}
